<h1>1D array</h1>

In [6]:
import numpy as np

In [2]:
## creation of array 1D
arr1 = np.array([25,41,63,66,85,74])
arr1

array([25, 41, 63, 66, 85, 74])

In [3]:
type(arr1)

numpy.ndarray

In [4]:
arr1.size

6

In [5]:
len(arr1)

6

In [6]:
print(np.__version__)

2.0.0

In [7]:
arr1[::]

array([25, 41, 63, 66, 85, 74])

In [9]:
arr1[-1] = 500

In [10]:
arr1

array([ 25,  41,  63,  66,  85, 500])

In [11]:
arr1 + 2

array([ 27,  43,  65,  68,  87, 502])

In [12]:
arr1 * 2

array([  50,   82,  126,  132,  170, 1000])

In [13]:
arr1.dtype

dtype('int64')

<h2>arr1 = np.array([10,20,30,40]) <- 1D 
</br>
arr2 = np.array([[1,2,3],[4,5,6],[7,8,9],[10,11,12]]) <- 2D</h2>

<h1>2D array</h1>

In [5]:
import numpy as np

In [6]:
ls = [[1,2,3],[4,5,6],[7,8,9],[10,11,12]]

In [7]:
arr2 = np.array(ls)
print(arr2)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

In [8]:
arr2[1]

array([4, 5, 6])

In [9]:
arr = np.random.randint(1,200,500)
arr

array([ 34, 186, 193, 128,   7, 171,  23,  60,  63, 159, 124,  57,  77,
        22, 194,  19,  17,  72, 138, 176,  28,  49,  90,  48, 118,  81,
        98,  23,   4,  86,  41, 114,  57, 192,  30, 108,  63,  16,  71,
        12,  70,  73,  13,  22, 138,  75, 175,  27, 100, 141,  92,  41,
        77, 113, 156, 188,  44,  31,  82,  14,  63, 192, 180, 142, 147,
       107, 164,  62, 121, 133, 167,  92,  92,   2,  11,  18, 154,  66,
       135, 112,  52,  14, 164, 189, 131, 165,  90, 182, 168,  73,  63,
        70, 166, 114, 152, 177,  97, 121, 195, 147,  75,  64,  42, 163,
        17, 191,  84,  24, 133,  75, 160,  34,  70,  70,  57, 164, 197,
        22, 155, 108,  87, 182, 118, 164,  26,  39, 138, 122, 193,  31,
       171,  49, 190,  99,  48, 182, 163, 114,  64, 172, 175, 145, 130,
       122, 195, 178,  27,  78, 176, 107,  44,  55, 198,  48, 183,  29,
       154, 151, 113,   8, 150,  30,  76, 107, 104,  10, 148, 194,  18,
       147, 103,  88, 115,  48, 161, 117,  20,  10,  26,  39,  17, 150,
        51,  85,  47,  77, 174, 117, 157, 189, 135, 148, 181,  89, 111,
        48,   2,  40,   2, 118, 108, 165,  72, 124, 127,  89, 120,  41,
       101, 154, 169,  38, 135, 191, 189, 166,  32,   2, 186, 192,  21,
       155,  81,  38, 121, 111, 164, 134, 176,  28,   6, 112,  74,  65,
       156,  60,  34, 148, 108, 188, 127,  27, 130,  50, 125,  72, 192,
        29,  54, 126, 170, 153,  71,  75,  57, 176, 158,  74, 124, 193,
       191, 159,  69,  41,  52, 166, 111,   3,  22,  63,  89,  72,  77,
       115, 153,  68,  50, 153, 121, 190,  11,  72, 172, 151, 117,  60,
       101,  52,  47,  20, 183, 182, 140, 106, 146,  54, 109,  11, 109,
       184,  94,  25, 163, 138,  71, 100, 151, 126,  87,  38,  84, 122,
       162,  62, 147, 111, 171,  99,  23, 180, 130, 129, 158, 173, 120,
       130,  19, 100,   3,  56,  79, 186,   4, 192,  11,  51, 169,  86,
       185, 142, 112, 141, 165,  85, 156, 159,  52, 131, 126, 126,  85,
       168,  21, 185,  84,  78, 112, 105,  12, 110, 168,   7, 174,  59,
        33,  36, 193, 180, 171, 129,  82, 154, 169,  94,  45,  52,  49,
        84,  27, 147, 178,  79,  61,  78,  63, 178, 102, 184,  81, 106,
       194,  99, 150,  78,  41, 124,  15, 165,  63, 128,  17,  53,  79,
       133, 108,  91, 148, 152,  50, 199, 151, 121,   4, 143,   1, 126,
       183, 139, 188, 108,  16, 144,  36,  60,   4,  94, 176,  25, 118,
        41, 154, 199,  35, 150,  42,  53, 155, 120,  39, 163,  97, 140,
       140, 177,  81,  91,  20, 180, 124,  74, 177, 182,  98,  78, 179,
        12,   9, 196, 131, 169, 118, 168,  65,  77,  24,   5,  26,  64,
        40, 115,   7,  65, 136,  64,  13, 168,  56,  73,  12,  49, 162,
        99, 132,  24, 121, 184,  62,  30, 188,  18,  76,  80, 151, 103,
        83, 184, 195,  57, 142,  90], dtype=int32)

In [10]:
arr[arr <= 100]

array([ 34,   7,  23,  60,  63,  57,  77,  22,  19,  17,  72,  28,  49,
        90,  48,  81,  98,  23,   4,  86,  41,  57,  30,  63,  16,  71,
        12,  70,  73,  13,  22,  75,  27, 100,  92,  41,  77,  44,  31,
        82,  14,  63,  62,  92,  92,   2,  11,  18,  66,  52,  14,  90,
        73,  63,  70,  97,  75,  64,  42,  17,  84,  24,  75,  34,  70,
        70,  57,  22,  87,  26,  39,  31,  49,  99,  48,  64,  27,  78,
        44,  55,  48,  29,   8,  30,  76,  10,  18,  88,  48,  20,  10,
        26,  39,  17,  51,  85,  47,  77,  89,  48,   2,  40,   2,  72,
        89,  41,  38,  32,   2,  21,  81,  38,  28,   6,  74,  65,  60,
        34,  27,  50,  72,  29,  54,  71,  75,  57,  74,  69,  41,  52,
         3,  22,  63,  89,  72,  77,  68,  50,  11,  72,  60,  52,  47,
        20,  54,  11,  94,  25,  71, 100,  87,  38,  84,  62,  99,  23,
        19, 100,   3,  56,  79,   4,  11,  51,  86,  85,  52,  85,  21,
        84,  78,  12,   7,  59,  33,  36,  82,  94,  45,  52,  49,  84,
        27,  79,  61,  78,  63,  81,  99,  78,  41,  15,  63,  17,  53,
        79,  91,  50,   4,   1,  16,  36,  60,   4,  94,  25,  41,  35,
        42,  53,  39,  97,  81,  91,  20,  74,  98,  78,  12,   9,  65,
        77,  24,   5,  26,  64,  40,   7,  65,  64,  13,  56,  73,  12,
        49,  99,  24,  62,  30,  18,  76,  80,  83,  57,  90], dtype=int32)

In [11]:
arr[arr <= 100].shape

(245,)

In [12]:
arr2 = np.random.randint(1,200,(10,5))
arr2

array([[ 13, 192, 110,  28,  49],
       [  5,  23,  23, 177,   6],
       [  6, 175, 179, 191, 114],
       [ 46,  63, 113, 199, 117],
       [114,  31,  28,  11,  44],
       [ 36,  33,   1,  40, 155],
       [ 20, 143,  88, 161,  63],
       [ 60,  14,  47,  12, 106],
       [146, 144, 180, 108,  29],
       [ 96,  32,  18, 169, 173]], dtype=int32)

In [13]:
# next day

In [16]:
arr = np.array([8,7,9])
arr

array([8, 7, 9])

In [17]:
np.max(arr)

np.int64(9)

In [18]:
np.min(arr)

np.int64(7)

In [19]:
np.mean(arr)

np.float64(8.0)

In [20]:
np.sum(arr)

np.int64(24)

In [21]:
np.argmin(arr)

np.int64(1)

In [22]:
np.argmax(arr)

np.int64(2)

In [24]:
np.sort(arr)

array([7, 8, 9])

In [25]:
arr[::-1]

array([9, 7, 8])